// Colors
$color-dark: #444;
$color-gray: #888;
$color-white: #fff;

// Layout
$padding-sm: .8rem;
$margin-sm: 2rem;
$margin-lg: 4rem;

// Typography
$main-font: 'Roboto', sans-serif;
$font-size-sm: 1.6rem;
$font-size-lg: 2.4rem;